## Visual Studio Temporary Files
.vs/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

## NuGet Packages
*.nupkg
/packages/

## Build Results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/

## Tool-specific files
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

## Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini

## Testing
TestResults/