@{
    ViewData["Title"] = "Choose Login Type";
}

<div class="login-card">
    <img src="~/images/logo.png" alt="MediTap Logo" class="logo" />
    <h1>Welcome to MediTap</h1>

    <div class="button-group">
        <a class="btn btn-primary" href="/Patient/Login">
            Login as Patient
        </a>

        <a class="btn btn-success" href="/Medic/Login">
            Login as Medic
        </a>
    </div>
</div>